
.upload-file{
    .form-label{
        margin-top: 10px !important;
        margin-bottom: 0 !important;
    }


}


.form-container *{
    color: #fff !important;

}

input[type=text], input[type=email], input[type=tel], textarea{
    text-align: initial !important;
}