.image {
    position: relative;
    height: 90vh;
    width: 100vw;
}

.content {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
}