@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap");

.about-us {
  * {
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
  }

  .text-block {
    border: 3px solid white !important;
    padding: 1rem;  
  }
  .about-us-title {
    position: absolute;
    text-align: center;
    color: white;
    top:15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container {
    
    display: flex;
    position: relative;
    height:60vh;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
  }
  .container .card {
    display: inline-block;
    margin-top: 50vh;
    width: 35vw;
    height: 70vh;
    margin-right: 20px;
    position: relative;
    text-align: center;
    transform: perspective(700px) rotateY(0deg);
    transform-style: preserve-3d;
    transition: 1s;
    cursor: pointer;
  }

  .container .card .front,
  .container .card .back {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container .card .front {
    backface-visibility: hidden;
  }

  .container .card .back {
    transform: rotateY(-180deg);
  }

  .container .card:active,
  .card:focus {
    transform: rotateY(180deg);
  }

  .back {
    text-align: left;
    background-color: #1d1c23;
    backface-visibility: hidden;
    color: white;
  }

  .business {
    .front {
      background-image: url(https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
      background-size: cover;
      background-position: center;
      color: white;
    }
  }
  
  .sustainability {
    .front {
      background-image: url(https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1613&q=80);
      background-size: cover;
      background-position: center;
      color: white;
    }
  }

  .cultural {
    .front {
      background-image: url(https://images.unsplash.com/photo-1528853985898-a8725569551b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=712&q=80);
      background-size: cover;
      background-position: center;
      color: white;
    }
  }


  .container .card h1 {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .container-team {
    background-color: #0f0f0f;
    padding-top: 10rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 0.2fr 3fr 0.6fr 3.5fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      ". about-us-caption about-us-caption about-us-caption about-us-caption ."
      ". . . . . ."
      ". card-amr card-georgios card-kareem card-jude ."
      ". . . . . .";

    h2 {
      position: absolute;
      top: 105%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }

    h3 {
      text-align: center;
      color: white;
    }

    .about-us-caption {
      grid-area: about-us-caption;
    }

    .team-img {
      width: 25vh;
      height: 25vh;
      border-radius: 50%;
    }

    .card-amr {
      grid-area: card-amr;

      .amr-img {
        background-image: url(./../../img/amr2.jpg);
        background-size: cover;
        background-position: center;

      }
    }

    .card-georgios {
      grid-area: card-georgios;

      .georgios-img {
        background-image: url(./../../img/geogios.jpg);
        background-size: cover;
        background-position: center;
      }
    }

    .card-kareem {
      grid-area: card-kareem;

      .kareem-img {
        background-image: url(./../../img/kareem.jpg);
        background-size: cover;
        background-position: center;
      }
    }

    .card-jude {
      grid-area: card-jude;

      .jude-img {
        background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQHfqVVGI5qbFQ/profile-displayphoto-shrink_800_800/0/1645125193134?e=1660780800&v=beta&t=vwnybAcP8jvBCN5WJqpl4yDRY6evpe6ybTGEzoj8tSs);
        background-size: cover;
        background-position: center;
      }
    }
  }
}
