$hoverColor: #7b8085;
$hoverColorDark: #1d1c23;
$hoverGold: #ddba2e;
.middle-nav-container {
  width: 40%;

//   & a,
//   p {
//     text-shadow: 0 0 1px rgb(166 97 215 / 70%), 0 0 13px rgb(166 97 215 / 70%),
//       0 0 4px rgb(166 97 215 / 70%);
//   }

  & a, p {
    transition: all 0.1s ease;
    font-size: 1.5em;
    letter-spacing: 2px ;
    &:hover {
      color: $hoverGold !important;
    }
  }
}

.request-pill {
  transition: all 0.5s ease;
  padding: 20px;
  font-weight: bold;
  &:hover {
    background: $hoverColorDark;
    border: 2px solid #ddba2e !important ;
    color:#fff;
  }
}
