$hoverColor: #7b8085;
$hoverColorDark: #212529;
.middle-nav-container {
  width: 30%;

//   & a,
//   p {
//     text-shadow: 0 0 1px rgb(166 97 215 / 70%), 0 0 13px rgb(166 97 215 / 70%),
//       0 0 4px rgb(166 97 215 / 70%);
//   }

  & a, p {
    transition: all 0.1s ease;
    &:hover {
      color: rgb(223, 219, 219) !important;
    }
  }
}

.request-pill {
  transition: all 0.5s ease;
  padding: 10px;
  font-weight: bold;
  &:hover {
    background: $hoverColorDark;
    border: 2px solid #fff !important ;
    color: white;
  }
}
