@font-face {
    font-family: 'marlu';
    src: url('./font/Microgramma\ Normal.ttf');
}

.App{
    height: 100vh;
}

a{
    text-decoration: none !important;
    color: inherit !important;
}


h1, h2{
    font-family: 'marlu';
}

.main-container{
    background-color: rgb(15, 15, 15);
}

